body {
    background-color: #ffdd90;
    background-image: url('../imagen/imagen_login.png') !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-color: #66999;
}


.card {
    padding-top: 10px !important;
    padding-left: 10px !important;
    margin-left: 10px !important;
    position: relative !important;
    float: left !important;
    width: 45% !important;
    border: steelblue solid 1px !important;
    height: auto !important;
}


.right {
    padding-left: 20px !important;
    padding-top: 20px !important;
    margin-right: 17px !important;
    float: right !important;
   
    width: 100% !important;
    border: steelblue solid 1px !important;
    height: auto !important;
}

.login-card-body,
.register-card-body {
    background: white;
    border-top: -1;
    color: #666;
    padding: 80px;
    border-radius: 70%;
    width: 400px;
}

.login-logo,
.register-logo {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: .9rem;
    text-align: center;
}

.login-page,
.register-page {
    align-items: center;
    background: #000000;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.login-box-msg,
.register-box-msg {
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}

.social-auth-links {
    margin: 10px 0;
}

.Slogin {
    width: 300px;
    margin-bottom: 34px;
    flex-basis: 40%;
}

 
 